@keyframes shake {
  0% {
    transform: translateX(4px);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(-4px);
  }
}

.shake_animate {
  animation-name: shake;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}
/*# sourceMappingURL=animation.css.map */