/* Widths */
@media only screen and (min-width: 1520px) {
  aside.side_nav {
    width: 25%;
  }
  section.dashboard_body {
    width: 75%;
    margin-left: auto;
  }
  .dashboard_center {
    width: 85%;
  }
  .site_center1 {
    width: 75%;
  }
}

@media only screen and (max-width: 1506px) {
  .jobs_wrapper_section .jobs_wrapper {
    padding: 60px;
    grid-template-columns: 48% 48%;
    grid-gap: 40px 4%;
  }
}

@media only screen and (max-width: 1477px) {
  .course_list_wrapper,
  .course_from_coach_section .course_list_wrapper {
    grid-template-columns: 48% 48%;
    grid-gap: 30px 4%;
  }
  .ongoing_course_list_wrapper {
    grid-template-columns: 48% 48%;
    grid-gap: 30px 4%;
  }
}

@media only screen and (max-width: 1412px) {
  .site_header_4_coaches {
    background-size: 47% 100%;
  }
}

@media only screen and (max-width: 1404px) {
  .coach_box_details_container .coach_details_div {
    width: 65%;
    padding: 50px 30px;
  }
  .coach_box_details_container .coach_image {
    width: 35%;
  }
}

@media only screen and (max-width: 1380px) {
  .course_full_desc_main_wrapper {
    grid-template-columns: 61% 36%;
    grid-gap: 25px 3%;
  }
}

@media only screen and (max-width: 1370px) {
  .stevia_benefits > div p br {
    display: none;
  }
  .job_opnenings_wrapper > div .desc_texts p br {
    display: none;
  }
}

@media only screen and (max-width: 1352px) {
  .coaches_list_wrapper > div .coach_features {
    padding: 25px 15px;
  }
}

@media only screen and (max-width: 1343px) {
  .topics_covered span {
    padding: 10px 20px;
  }
  .index_header_wrapper {
    background-size: 68% 85%;
    padding-top: 25px;
  }
  .header_left_col .welcome_note_head h5 {
    font-size: 35px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 1310px) {
  .third_section_wrapper_div .site_center2 {
    width: 85%;
  }
}

@media only screen and (max-width: 1292px) {
  aside.side_nav {
    transform: translateX(-100%);
    display: none;
  }
  section.dashboard_body {
    width: 100%;
    margin-left: 0;
  }
  .dashboard_center {
    width: 85%;
  }
  .dashboard_sidenav_toggler {
    display: block;
    margin-right: 20px;
  }
  aside.side_nav .logo_div img {
    display: none;
  }
  aside.side_nav .logo_div .close_sideNav {
    display: block;
  }
  section.dashboard_body .top_nav .left_side h4 {
    font-size: 27px;
  }
}

@media only screen and (max-width: 1249px) {
  .site_header_4_coaches {
    background-size: 47% 100%;
  }
  .coaches_page .site_center1 {
    width: 90%;
  }
  .stud_signup_form_wrapper {
    width: 45%;
  }
  .student_below_form {
    width: 35%;
  }
}

@media only screen and (max-width: 1238px) {
  .post_a_job_signup .form_wrapper {
    width: 45%;
  }
  .post_a_job_signup .below_form {
    width: 35%;
  }
  .student_dashboard_coaches_top .right {
    width: 40%;
  }
  .settlement_card_wrapper .card_wrapper .card {
    padding: 15px;
  }
}

@media only screen and (max-width: 1224px) {
  .coaches_page .header_desc_left {
    width: 50%;
  }
  .form_section_wrapper .form_div {
    width: 58%;
  }
  .need_help {
    width: 48%;
  }
  .coach_details_container .coach_details_div {
    padding: 60px 50px;
  }
  .student_list_wrapper .each_student .top .stud_image {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1214px) {
  .admin_overview_cards .cards_wrapper {
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 1.3333%;
  }
}

@media only screen and (max-width: 1200px) {
  .card_member_wrapper {
    grid-template-columns: 31.3333% 31.3333% 31.3333%;
    grid-gap: 20px 3%;
  }
  .wantToBecomeAcoach_index_sections .question_card h5 {
    font-size: 28px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 1181px) {
  .coach_overview_cards .cards_wrapper {
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 1.3333%;
  }
  [class*="about_card_"] {
    padding: 20px;
  }
}

@media only screen and (max-width: 1176px) {
  .third_section_wrapper_div .how_it_works_div {
    grid-template-columns: 100%;
    grid-column-gap: 0%;
  }
  .third_section_wrapper_div .how_it_works_right_side {
    justify-content: center;
    margin-top: 50px;
  }
  .third_section_wrapper_div .how_it_works_left_side {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1171px) {
  .pending_appointment_container,
  .personal_appointment_container {
    padding: 40px 40px;
    grid-template-columns: 48% 48%;
    grid-gap: 30px 4%;
  }
}

@media only screen and (max-width: 1166px) {
  .transaction_card_wrapper .card_wrapper {
    box-shadow: none;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }
}

@media only screen and (max-width: 1166px) {
  .availability_section .profile_details .bottom_part .top .right {
    width: 75%;
  }
  .center_form {
    width: 70%;
  }
}

@media only screen and (max-width: 1131px) {
  .admin_overview_cards .cards_wrapper {
    grid-template-columns: 31.3333% 31.3333% 31.3333%;
    grid-gap: 25px 3%;
  }
  .name_n_qualification > div .name_rate {
    padding: 0 30px 0 20px;
  }
  .name_n_qualification > div .job_title {
    padding: 0 30px 0 30px;
  }
  .name_n_qualification > div .qualification {
    padding: 0 5px 0 30px;
  }
  .topics_covered span {
    font-size: 0.8rem;
  }
  .right_side_headings h2 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1126px) {
  .header_left_col .welcome_note_head h5 {
    font-size: 31px;
    line-height: 40px;
  }
  .header_left_col .welcome_note_paragraph p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 1110px) {
  .course_image {
    height: 270px;
  }
}

@media only screen and (max-width: 1091px) {
  .coach_box_details_container .coach_details_div {
    padding: 30px 30px;
  }
  .coach_box_details_container
.coach_details_div
.coach_summary
.coach_summary_n_specialization {
    padding-top: 20px;
    padding-right: 20px;
  }
  .header_left_col .welcome_note_head {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 1085px) {
  .appointment-complete-modal > div,
  .course-complete-modal > div {
    width: 55%;
  }
  .settlement_card_wrapper .card_wrapper {
    box-shadow: none;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }
  .aboutUs_cards {
    grid-template-columns: 50% 50%;
  }
  [class*="about_card_"] {
    padding: 30px;
  }
  .about_card_one::after {
    display: none;
  }
  .about_card_two::before {
    display: none;
  }
  .about_card_two::after {
    display: none;
  }
  .about_card_three::before {
    display: none;
  }
  .about_card_four::after {
    display: none;
  }
  .about_card_five::before {
    display: none;
  }
  .about_card_five::after {
    display: none;
  }
  .about_card_six::before {
    display: none;
  }
}

@media only screen and (max-width: 1075px) {
  .jobs_page_header p br {
    display: none;
  }
  .jobs_page_header {
    padding: 160px 190px;
  }
  .student_list_wrapper {
    grid-template-columns: 32.3333% 32.3333% 32.3333%;
    grid-gap: 15px 1.5%;
  }
  .third_section_wrapper_div .how_it_works_left_side {
    width: 70%;
  }
  .jobs_wrapper_section .jobs_wrapper {
    padding: 40px;
    grid-gap: 30px 4%;
  }
  .benefits_in_details {
    grid-template-columns: 50% 46%;
  }
}

@media only screen and (max-width: 1053px) {
  .post_a_job_login .form_wrapper {
    width: 40%;
  }
  .below_form {
    width: 30%;
  }
  .admin_services_wrapper {
    padding: 20px;
    grid-template-columns: 32.3333% 32.3333% 32.3333%;
    grid-gap: 13px 1.5%;
  }
  .course_image {
    height: 240px;
  }
}

@media only screen and (max-width: 1050px) {
  .coach_details_container .coach_details_div {
    padding: 40px 30px;
  }
  .coaches_list_wrapper > div .coach_features_middle {
    margin: 15px 0;
  }
  .coaches_list_wrapper > div .coach_features_bottom .bottom_link {
    margin-bottom: 15px;
  }
  .course_banner_wrapper .image {
    width: 25%;
  }
  .course_banner_wrapper .details {
    width: 75%;
  }
}

@media only screen and (max-width: 1035px) {
  .coach_dashboard_courses_top .top .right {
    width: 54%;
  }
  .coach_dashboard_courses_top .top .right .sort_text {
    margin: 0 10px;
  }
  .student_list_wrapper {
    padding: 40px;
    grid-template-columns: 40% 40%;
    grid-row-gap: 30px;
    justify-content: space-evenly;
  }
  .history_n_stream {
    flex-direction: column;
    padding-bottom: 80px;
  }
  .history_n_stream .recent_payment {
    width: 100%;
    padding: 0;
    border-right: none;
  }
  .history_n_stream .activity_strem {
    width: 100%;
    padding: 0;
    margin-top: 60px;
  }
  .history_n_stream .activity_strem .each_activity:last-child {
    border-bottom: 1px solid #e3e3e3;
  }
  .course_duration_and_price .each_div {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-row-gap: 40px;
  }
  .course_duration_and_price {
    transform: translateY(-22%);
  }
  .each_div div:nth-child(3) {
    border-right: none;
  }
}

@media only screen and (max-width: 1026px) {
  .coach_search_n_category {
    flex-direction: column;
  }
  .coach_search_n_category .coaches_category {
    width: 100%;
    margin-bottom: 30px;
    /* justify-content: space-evenly; */
  }
  .coach_search_n_category .coaches_category .specialization {
    /* width: 140px; */
  }
  .coach_search_n_category .course_search {
    /* width: 90%; */
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 1020px) {
  .courses_wrapper_div {
    grid-template-columns: 48% 48%;
    grid-gap: 30px 4%;
  }
  .coach_overview_cards .cards_wrapper {
    grid-template-columns: 48% 48%;
    grid-gap: 30px 4%;
  }
  .add-service-modal > div {
    width: 55%;
  }
}

@media only screen and (max-width: 985px) {
  .dashboard_center {
    width: 90%;
  }
  .student_dashboard_courses_top .top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .student_dashboard_courses_top .top > div {
    margin-top: 30px;
  }
  .student_dashboard_courses_top .top .right {
    width: 100%;
  }
  .account_details_wrapper .account_details {
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
  }
  .admin_overview_cards .cards_wrapper {
    grid-template-columns: 32.3333% 32.3333% 32.3333%;
    grid-gap: 25px 1.5%;
  }
  .course_video_container {
    height: 350px;
  }
  .student_gallery {
    grid-template-columns: calc((100% - 60px) / 4) calc((100% - 60px) / 4) calc((100% - 60px) / 4) calc((100% - 60px) / 4);
  }
  .benefit_breakdown_icon {
    margin-right: 20px;
    width: 55px;
    height: 55px;
  }
  .benefit_breakdown_text p {
    font-size: 15px;
    line-height: 18px;
    margin-top: 3px;
  }
  .coaches_index_sections .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .coaches_index_sections .header .slider_toggler {
    margin-top: 35px;
  }
  .slider_toggler .slider_toggler_container {
    margin-left: 0;
  }
  #coachMoveRight {
    margin-left: 30px;
  }
  .wantToBecomeAcoach_index_sections .question_card h5 {
    font-size: 25px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 968px) {
  .job_description_content {
    flex-direction: column-reverse;
  }
  .jobDescription_section_wrapper_div .job_description_content .main_job_desc {
    width: 100%;
    border-left: none;
    padding: 40px 0 0 0;
  }
  .jobDescription_section_wrapper_div .job_description_content .job_location {
    width: 1000%;
    padding-top: 40px;
    padding-right: 0;
  }
  .name_n_qualification {
    flex-direction: column;
  }
  .name_n_qualification > div {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 966px) {
  .site_header_4_coaches {
    background-image: none;
  }
  .coaches_page .header_desc_left {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .availability_section .profile_details .top_part .time_zone .right {
    width: 55%;
  }
}

@media only screen and (max-width: 965px) {
  .course_search_n_category .course_category {
    width: 40%;
  }
  .course_search_n_category .course_search {
    width: 42%;
  }
}

@media only screen and (max-width: 963px) {
  .course_n_category_wrapper {
    grid-template-columns: 26% 72%;
    grid-column-gap: 2%;
  }
  .post_a_job_signup .form_wrapper {
    width: 55%;
  }
  .post_a_job_signup .below_form {
    width: 45%;
  }
}

@media only screen and (max-width: 956px) {
  .want_to_be_a_coach_wrapper .want_to_be_a_coach_div {
    width: 41%;
    margin: 0 auto;
    padding: 50px 30px;
    flex-direction: column;
  }
  .want_to_be_a_coach_wrapper .want_to_be_a_coach_div .arrow {
    margin: 100px 0;
    transform: rotate(90deg);
  }
  .want_to_be_a_coach_wrapper .want_to_be_a_coach_div .text {
    width: 100%;
    text-align: center;
  }
  .stud_signup_form_wrapper {
    width: 55%;
  }
  .student_below_form {
    width: 45%;
  }
}

@media only screen and (max-width: 945px) {
  .coaches_list_wrapper {
    padding: 30px 20px;
    grid-template-columns: 49% 49%;
    grid-gap: 20px 2%;
  }
  .account_details_wrapper .account_details > div {
    padding: 25px;
  }
}

@media only screen and (max-width: 938px) {
  .coach_details_container .coach_details_div {
    width: 63%;
  }
  .coach_details_container .coach_image {
    width: 37%;
  }
  .admin_services_wrapper {
    padding: 30px;
    grid-template-columns: 48% 48%;
    grid-gap: 30px 4%;
  }
  .profile_details_section .profile_details {
    grid-template-columns: 48.5% 48.5%;
    grid-column-gap: 3%;
  }
  .benefits_index_sections .header h5 {
    font-size: 30px;
    line-height: 33px;
  }
}

@media only screen and (max-width: 922px) {
  .coach_box_details_container {
    flex-direction: column;
  }
  .coach_box_details_container .coach_details_div {
    padding: 40px 40px;
    width: 100%;
  }
  .coach_box_details_container .coach_image {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .coach_box_details_container .coach_image img {
    max-width: 100%;
    height: auto;
  }
  .coach_box_details_container .coach_details_div .coach_details_div_top {
    text-align: center;
  }
  .added_services_wrapper {
    grid-template-columns: 40% 40%;
    grid-gap: 30px 0;
    justify-content: space-around;
  }
  .course_full_desc_main_wrapper {
    grid-template-columns: 100%;
    grid-gap: 25px 0;
  }
  .interests_index_sections .header p br {
    display: none;
  }
}

@media only screen and (max-width: 910px) {
  .account_details_wrapper .account_details {
    grid-template-columns: 100%;
    grid-gap: 20px 0%;
  }
  .account_details_wrapper .account_details > div {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  .transaction_card_wrapper .card_wrapper {
    grid-template-columns: 50% 50%;
  }
  .wantToBecomeAcoach_index_sections .question_card {
    padding: 25px 40px;
  }
}

@media only screen and (max-width: 901px) {
  .appointment_setting_wrapper
.appointment_setting
.settings_progress
> div
span {
    font-size: 13px;
    line-height: 25px;
  }
  .course_image {
    height: 200px;
  }
  .header_left_col .welcome_note_head h5 {
    font-size: 27px;
    line-height: 32px;
  }
  .header_left_col .welcome_note_paragraph p {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
  }
  .interest_options_wrapper {
    grid-template-columns: 49% 49%;
    grid-gap: 15px 2%;
  }
  .center_form {
    width: 85%;
  }
}

@media only screen and (max-width: 889px) {
  .course_n_category_wrapper {
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }
  .course_n_category_wrapper .left > div {
    margin-bottom: 20px;
  }
  .course_n_category_wrapper .left > div [class*="options_"] {
    display: none;
  }
  .course_n_category_wrapper .left > div [class*="_header"] {
    border: 1px solid #e3e3e3;
    padding: 20px;
    cursor: pointer;
  }
  .course_n_category_wrapper .left > div [class*="_header"] i {
    display: block;
  }
  .all_jobs {
    padding-top: 15px;
  }
  .course_n_category_wrapper .jobs_header h4 {
    font-size: 28px;
  }
  .course_n_category_wrapper .right {
    margin-top: 30px;
  }
  .form_section_wrapper .form_div {
    width: 78%;
  }
  .need_help {
    width: 60%;
  }
  .appointment-complete-modal > div,
  .course-complete-modal > div {
    width: 60%;
  }
  .how_to_connect_options_wrapper {
    grid-template-columns: 100%;
    grid-gap: 35px 0;
  }
}

@media only screen and (max-width: 884px) {
  .name_n_speciality > div .name_rate {
    padding: 0 45px 0 40px;
    border-right: 1px solid #e3e3e3;
  }
  .name_n_speciality > div .speciality {
    padding: 0 85px 0 45px;
  }
  .wantToBecomeAcoach_index_sections .question_card h5 {
    font-size: 20px;
    line-height: 25px;
  }
  .wantToBecomeAcoach_index_sections .question_card {
    padding: 22px 35px;
  }
  .wantToBecomeAcoach_index_sections .wrapper {
    background-size: 145px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
}

@media only screen and (max-width: 877px) {
  .admin_dashboard_coaches_top .search_input {
    width: 45%;
  }
  .admin_dashboard_coaches_top .right {
    width: 45%;
  }
}

@media only screen and (max-width: 867px) {
  .jobDescription_section_wrapper_div .header_content_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .jobDescription_section_wrapper_div .header_content_wrapper .job_title {
    margin: 10px 0;
  }
  .course_banner_wrapper .details {
    padding: 25px 20px 0 30px;
  }
  .name_n_speciality {
    flex-direction: column;
  }
  .name_n_speciality > div {
    margin-top: 30px;
    justify-content: space-between;
    width: 100%;
  }
  .name_n_speciality > div .name_rate,
  .name_n_speciality > div .speciality {
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
  .name_n_speciality > div .speciality {
    padding: 0 20px;
  }
  .name_n_qualification > div {
    width: 100%;
    justify-content: space-between;
  }
  .name_n_qualification > div .job_title {
    border: none;
  }
  .name_n_qualification > div .name_rate {
    padding: 0;
  }
  .name_n_qualification > div .job_title {
    padding: 0 20px;
  }
  .name_n_qualification > div .qualification {
    padding: 0;
  }
  .howToConnect_index_sections .header h5 {
    font-size: 30px;
    line-height: 34px;
  }
}

@media only screen and (max-width: 853px) {
  .coach_details_wrapper {
    height: initial;
  }
  .coach_details_container {
    flex-direction: column;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  .coach_details_container .coach_details_div {
    width: 100%;
  }
  .coach_details_container .coach_image {
    width: 100%;
    height: 550px;
  }
  .coach_details_container .coach_image img {
    border-radius: 5px 5px 0 0;
  }
  .coach_summary {
    flex-direction: column;
  }
  .coach_details_container
.coach_details_div
.coach_summary
.coach_summary_n_specialization {
    width: 100%;
    border-right: none;
    padding-top: 30px;
    padding-right: 0;
  }
  .coach_details_container .coach_details_div .coach_summary .coach_social {
    width: 50%;
    padding-top: 40px;
    padding-left: 0;
  }
  .coach_box_details_container
.coach_details_div
.coach_summary
.coach_summary_n_specialization {
    border-right: none;
    width: 100%;
    padding-right: 0;
  }
  .coach_box_details_container .coach_details_div .coach_summary .coach_social {
    width: 100%;
    padding-top: 30px;
    padding-left: 0;
  }
  .coach_box_details_container
.coach_details_div
.coach_summary
.coach_social
.video {
    width: 50%;
    height: auto;
  }
  .add-service-modal > div {
    width: 65%;
  }
  .appointment_setting_wrapper
.appointment_setting
.settings_container
.settings_content {
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
  .members_card {
    height: 450px;
  }
  .card_member_wrapper {
    grid-template-columns: 47% 47%;
    grid-gap: 45px 6%;
  }
}

@media only screen and (max-width: 843px) {
  .third_section_wrapper_div .how_it_works_left_side h4 {
    font-size: 25px;
  }
  .third_section_wrapper_div .how_it_works_left_side p {
    font-size: 15px;
  }
  .third_section_wrapper_div
.how_it_works_right_side
div[class*="how_it_work_step_"]
p {
    font-size: 13px;
  }
  .third_section_wrapper_div
.how_it_works_right_side
div[class*="how_it_work_step_"]
h4 {
    font-size: 15px;
  }
  .post_a_job_login .form_wrapper {
    width: 50%;
  }
  .below_form {
    width: 40%;
  }
}

@media only screen and (max-width: 840px) {
  .stevia_benefits {
    flex-wrap: wrap;
    justify-content: center;
  }
  .stevia_benefits > div {
    width: 45%;
    margin: 0 2.5% 25px;
  }
  .course_search_n_category .course_category {
    width: 43%;
  }
  .course_search_n_category .course_search {
    width: 44%;
  }
  .settlement_card_wrapper .card_wrapper {
    box-shadow: none;
    grid-template-columns: 50% 50%;
  }
  .settlement_card_wrapper .card_wrapper .card {
    padding: 25px;
  }
  .about_us_figures > div {
    width: 50%;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 837px) {
  section.dashboard_body .overview_cards .cards_wrapper {
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
  }
  section.dashboard_body .overview_cards .cards_wrapper > div {
    margin-bottom: 30px;
  }
  .student_dashboard_coaches_top .right {
    width: 50%;
  }
  .coach_dashboard_courses_top .top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .coach_dashboard_courses_top .top .right {
    width: 70%;
    margin-top: 20px;
    justify-content: flex-start;
  }
  .course_banner_wrapper
.details
.Description_n_price
.description
.image_n_seat {
    width: 85%;
  }
  .jobs_wrapper_section .jobs_wrapper {
    padding: 30px;
    grid-gap: 25px 4%;
  }
  .aboutUs_cards {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 826px) {
  .jobs_page_header {
    padding: 120px 110px;
  }
  .jobs_page .site_center1 {
    width: 90%;
  }
  .search_course_input_wrapper {
    width: 60%;
    transform: translateY(0);
  }
  .search_course_wrapper {
    padding-top: 80px;
  }
  .subscribe_input_wrapper {
    width: 60%;
  }
  .student_list_wrapper {
    grid-template-columns: 45% 45%;
  }
  .jobs_wrapper_section .jobs_wrapper {
    grid-template-columns: 49% 49%;
    grid-gap: 15px 2%;
  }
  .name_n_qualification > div {
    flex-direction: column;
  }
  .name_n_qualification > div .job_title {
    padding: 30px 0px;
    margin: 30px 0px;
    width: 100%;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
  }
  .profile_details_section .profile_details {
    grid-template-columns: 100%;
    grid-gap: 30px 0%;
  }
  .other_information_section .profile_details {
    grid-template-columns: 100%;
    grid-gap: 30px 0%;
  }
  .benefits_in_details {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 35px 0;
  }
  .benefits_in_details_image img {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
  }
  .benefit_breakdown_icon {
    margin-right: 25px;
    width: 60px;
    height: 60px;
  }
  .benefit_breakdown_text p {
    font-size: 16px;
    line-height: 23px;
    margin-top: 8px;
  }
  .coaches_index_sections .header p br {
    display: none;
  }
}

@media only screen and (max-width: 817px) {
  .coaches_page .header_desc_left h4 br {
    display: none;
  }
  .coaches_page .header_desc_left p br {
    display: none;
  }
  .course_list_wrapper,
  .course_from_coach_section .course_list_wrapper {
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
  .coaches_list_wrapper {
    padding: 30px 20px;
    grid-template-columns: 100%;
    grid-gap: 20px 0;
  }
  .coaches_list_wrapper > div {
    margin-left: auto;
    margin-right: auto;
  }
  .ongoing_course_list_wrapper {
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
  .admin_overview_cards .cards_wrapper {
    grid-template-columns: 47% 47%;
    grid-gap: 25px 6%;
  }
}

@media only screen and (max-width: 812px) {
  .how_it_works_div {
    flex-direction: column;
  }
  .contact_wrapper {
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }
  .contact_section_wrapper_div .site_center1 {
    width: 60%;
  }
  .contact_wrapper .contact_form {
    margin-bottom: 60px;
  }
  .pending_appointment_container,
  .personal_appointment_container {
    padding: 25px 25px;
    grid-template-columns: 49% 49%;
    grid-gap: 25px 2%;
  }
  .course_banner_wrapper {
    flex-direction: column;
  }
  .course_banner_wrapper .details {
    width: 100%;
  }
  .course_banner_wrapper .image {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .course_banner_wrapper .details .title {
    text-align: center;
  }
  .course_banner_wrapper
.details
.Description_n_price
.description
.image_n_seat {
    width: 90%;
  }
  .table_div_wrapper .table_div table th,
  .table_div_wrapper .table_div table td {
    text-align: center;
    padding: 20px 15px;
  }
  .interests_index_sections .header p br {
    display: none;
  }
  .interests_index_sections .header p {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }
  .interests_index_sections .header h5 {
    font-size: 30px;
    line-height: 34px;
  }
  .howToConnect_index_sections .header p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  .howToConnect_index_sections .header p br {
    display: none;
  }
}

@media only screen and (max-width: 810px) {
  .header_desc_div,
  .mobile_header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .site_header {
    background-image: none;
  }
  .header_desc_left h4 br {
    display: block;
  }
  .header_desc_left p br {
    display: block;
  }
  .mobile_nav_toggler .bars_index {
    background-color: #ef4b4b;
  }
  .site_center1 {
    width: 80%;
  }
  .site_center2 {
    width: 75%;
  }
  .header_desc_wrapper .header_desc_div,
  .mobile_header {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .header_desc_wrapper {
    background-image: url(../utils/images/8.png);
    background-repeat: no-repeat;
    background-position: 50px 0;
    padding: 20px 0;
    margin-top: 50px;
  }
  .header_desc_right {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
  }
  .header_desc_right_index {
    background-image: url(../utils/images/71.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 80px;
  }
  .header_desc_right img {
    width: 452px;
    height: 279px;
  }
  .benefits_wrapper .coach_benefits_wrapper {
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
  }
  .benefits_wrapper .coach_benefits_wrapper .each_benefit:nth-child(3) {
    margin-top: 50px;
  }
  .benefits_section {
    height: inherit;
  }
  .review_section_wrapper_div {
    padding-top: 0;
  }
  .stud_signup_form_wrapper {
    width: 70%;
  }
  .student_below_form {
    width: 55%;
  }
  .dashboard_review_section {
    padding-top: 100px;
  }
  .third_section_wrapper_div .how_it_works_left_side {
    width: 85%;
  }
  .student_gallery {
    grid-template-columns: calc((100% - 40px) / 3) calc((100% - 40px) / 3) calc((100% - 40px) / 3);
  }
  .index_header_wrapper {
    background-size: 68% 100%;
  }
  .header_left_col .welcome_note_head h5 {
    font-size: 25px;
    line-height: 30px;
  }
  .header_left_col .welcome_note_paragraph p {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
  }
  .wantToBecomeAcoach_index_sections .wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .wantToBecomeAcoach_index_sections .wrapper {
    background-size: 125px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .wantToBecomeAcoach_index_sections .wrapper button {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 790px) {
  .how_it_works_div {
    flex-direction: column;
  }
  .how_it_works_div > div {
    width: 100%;
    text-align: center;
  }
  .third_section_wrapper_div .how_it_works_left_side {
    padding-right: 0;
    text-align: left;
  }
  .how_it_works_right_side {
    justify-content: center;
    margin-top: 60px;
  }
  .coaches_wrapper_div {
    grid-template-columns: 100%;
    grid-gap: 40px 0;
  }
  .coaches_wrapper_div > div {
    margin-left: auto;
    margin-right: auto;
  }
  .third_section_wrapper_div .how_it_works_left_side h4 br {
    display: none;
  }
  .third_section_wrapper_div .how_it_works_left_side p.first_child {
    margin-bottom: 15px;
  }
  .added_services_wrapper {
    grid-template-columns: 45% 45%;
  }
  .course_image {
    height: 170px;
  }
}

@media only screen and (max-width: 782px) {
  .course_search_n_category {
    flex-direction: column;
  }
  .course_search_n_category .course_category {
    width: 100%;
    margin-bottom: 30px;
  }
  .course_search_n_category .course_category .select_wrapper {
    width: 75%;
    margin-left: auto;
  }
  .course_search_n_category .course_search {
    width: 100%;
  }
  .post_a_job_page_wrapper
.left_side
.left_side_content_div
.bottom
.bottom_header
h4 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 37px;
  }
}

@media only screen and (max-width: 778px) {
  .figures_head p br {
    display: none;
  }
}

@media only screen and (max-width: 772px) {
  .second_section_header p br {
    display: none;
  }
  .post_a_job_signup .form_wrapper {
    width: 65%;
  }
  .post_a_job_signup .below_form {
    width: 55%;
  }
}

@media only screen and (max-width: 766px) {
  .coach_details_container {
    width: 75%;
  }
  .jobs_wrapper_section .jobs_wrapper {
    padding: 30px;
    grid-template-columns: 100%;
    grid-gap: 25px 0%;
  }
  .members_card {
    height: 400px;
  }
  .card_member_wrapper {
    grid-template-columns: 48% 48%;
    grid-gap: 20px 4%;
  }
}

@media only screen and (max-width: 755px) {
  .benefits_index_sections .header h5 {
    font-size: 27px;
    line-height: 29px;
  }
  .benefits_index_sections .header p br {
    display: none;
  }
}

@media only screen and (max-width: 751px) {
  section.dashboard_body .top_nav .left_side h4 {
    font-size: 23px;
  }
  section.dashboard_body .top_nav .left_side a {
    font-size: 13px;
    margin-right: 8px;
    line-height: 15px;
  }
  section.dashboard_body .top_nav .right_side .username h6 {
    font-size: 14px;
    line-height: 15px;
  }
  section.dashboard_body .top_nav .right_side .username span {
    padding: 14px;
    font-size: 12.5px;
    margin-right: 7px;
  }
  section.dashboard_body .top_nav .right_side .username {
    padding-left: 10px;
  }
  section.dashboard_body .top_nav .right_side .bell {
    padding: 25px 10px;
  }
  .appointments_sortType_n_category .right {
    width: 30%;
  }
  .account_details_wrapper .account_details > div {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .admin_services_wrapper {
    padding: 20px;
    grid-template-columns: 49% 49%;
    grid-gap: 15px 2%;
  }
  .course_duration_and_price .each_div {
    grid-template-columns: 50% 50%;
    grid-row-gap: 40px;
  }
  .course_duration_and_price {
    transform: translateY(-10%);
  }
  .each_div div:nth-child(2),
  .each_div div:nth-child(4) {
    border-right: none;
  }
  .each_div div:nth-child(3) {
    border-right: 1px solid rgba(152, 152, 152, 0.5);
  }
}

@media only screen and (max-width: 746px) {
  .student_list_wrapper {
    grid-template-columns: 48% 48%;
    grid-column-gap: 20px;
  }
}

@media only screen and (max-width: 730px) {
  .pending_appointment_container,
  .personal_appointment_container {
    padding: 40px 40px;
    grid-template-columns: 100%;
    grid-gap: 25px auto;
  }
  .pending_appointment_container > div,
  .personal_appointment_container > div {
    margin-left: auto;
    margin-right: auto;
  }
  .add-service-modal > div {
    width: 75%;
  }
  .interest_options_wrapper {
    grid-template-columns: 100%;
    grid-gap: 15px 0;
  }
}

@media only screen and (max-width: 720px) {
  .courses_wrapper_div {
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
  .subscribe_input_wrapper {
    width: 70%;
  }
  .index_header_columns {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
  .index_header_wrapper {
    background-size: 100% 75%;
  }
  .header_right_col {
    width: 100%;
  }
  .header_right_col img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (max-width: 717px) {
  .coaches_page .header_desc_left {
    width: 70%;
  }
  .appointment-complete-modal > div,
  .course-complete-modal > div {
    width: 65%;
  }
  .name_n_speciality > div {
    margin-top: 30px;
    justify-content: space-between;
    flex-direction: column;
  }
  .name_n_speciality > div .speciality {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }
}

@media only screen and (max-width: 712px) {
  .appointment_setting_wrapper .appointment_setting .settings_progress {
    width: 120%;
  }
}

@media only screen and (max-width: 708px) {
  .post_a_job_page_wrapper .left_side {
    display: none;
  }
  .post_a_job_page_wrapper .right_side {
    width: 100%;
    margin-left: 0;
  }
  .post_a_job_page_wrapper .right_side .right_side_header img {
    display: block;
  }
  .student_list_wrapper {
    padding: 25px 15px;
  }
  .days_option a {
    margin: 0 10px;
  }
  .course_name_and_excerpt h3 {
    line-height: 30px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 694px) {
  .create_course_form_section .about_the_course .date_n_time {
    flex-direction: column;
  }
  .create_course_form_section .about_the_course .date_n_time .left {
    width: 100%;
  }
  .create_course_form_section .about_the_course .date_n_time .right {
    width: 100%;
  }
  .other_coach_details .cols-2 {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    margin-top: -8px;
    margin-bottom: -8px;
  }
  .center_form {
    width: 100%;
  }
}

@media only screen and (max-width: 673px) {
  .days_option {
    flex-direction: column;
  }
  .days_option > div:nth-child(2) {
    margin-top: 20px;
    justify-content: space-between;
  }
  .days_option > div:nth-child(2) button {
    padding: 10px;
    margin-left: 0;
  }
  .appointment_setting_wrapper
.appointment_setting
.settings_progress
> div
span {
    font-size: 11px;
    line-height: 20px;
  }
  .availability_section .profile_details .bottom_part .top .right {
    width: 85%;
  }
  .availability_section .profile_details .bottom_part .top .right .to p {
    margin: 0 10px;
  }
  .benefits_in_details_image img {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 665px) {
  .all_jobs {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
  .contact_section_wrapper_div .site_center1 {
    width: 75%;
  }
  .benefits_wrapper .coach_benefits_wrapper {
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }
  .benefits_wrapper .coach_benefits_wrapper .each_benefit:nth-child(2) {
    margin-top: 50px;
  }
  .appointment-complete-modal > div,
  .course-complete-modal > div {
    width: 85%;
  }
  .appointment-complete-modal .head h4,
  .course-complete-modal .head h4 {
    font-size: 20px;
    line-height: 28px;
  }
  .appointment-complete-modal .head p,
  .course-complete-modal .head p {
    font-weight: 600;
    font-size: 13px;
    line-height: 23px;
  }
  .appointment-complete-modal .experience_question,
  .course-complete-modal .experience_question {
    margin: 25px 0 20px;
  }
  .appointment-complete-modal .experience_question h6,
  .course-complete-modal .experience_question h6 {
    font-size: 15px;
    line-height: 20px;
  }
  .availability_section .profile_details .top_part .time_zone .right {
    width: 75%;
  }
  .course_image {
    height: 140px;
  }
  .about_us_head p br {
    display: none;
  }
  .teamMember_head p br {
    display: none;
  }
  .jobs_index_sections .header h5 {
    font-size: 28px;
    line-height: 34px;
  }
}

@media only screen and (max-width: 654px) {
  .jobDescription_section_wrapper_div .header_content_wrapper .job_title h4 {
    font-size: 27px;
  }
  .post_a_job_login .form_wrapper {
    width: 70%;
  }
  .below_form {
    width: 50%;
  }
  .post_a_job_signup .form_wrapper {
    width: 75%;
  }
  .post_a_job_signup .below_form {
    width: 65%;
  }
  .stud_signup_form_wrapper {
    width: 80%;
  }
  .student_below_form {
    width: 65%;
  }
  .student_dashboard_coaches_top .search_input {
    width: 40%;
  }
  .coach_dashboard_courses_top .top .right {
    width: 100%;
    justify-content: space-between;
  }
  .third_section_wrapper_div .how_it_works_left_side {
    width: 90%;
  }
  .about_us_figures > div {
    width: 100%;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 644px) {
  .student_list_wrapper {
    grid-template-columns: 100%;
    grid-row-gap: 30px;
  }
  .review_section_wrapper_div .review_header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .added_services_wrapper {
    grid-template-columns: 48.5% 48.5%;
  }
  .add-service-modal .cols-2 {
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }
  .account_details_wrapper .account_details > div {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .course_name_and_signup {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .course_name_and_signup .course_name_and_excerpt {
    width: 100%;
    margin-bottom: 50px;
  }
  .members_card {
    height: 400px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .card_member_wrapper {
    grid-template-columns: 100%;
    grid-gap: 20px 0;
  }
}

@media only screen and (max-width: 636px) {
  .coach_details_container {
    width: 80%;
  }
  .coach_details_container .coach_image {
    height: 450px;
  }
  .student_dashboard_coaches_top .top {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .student_dashboard_coaches_top .search_input {
    margin-top: 20px;
    width: 100%;
  }
  .student_dashboard_coaches_top .right {
    width: 100%;
  }
  .appointments_sortType_n_category {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .appointments_sortType_n_category .right {
    width: 60%;
    margin-bottom: 20px;
    justify-content: flex-start;
  }
  .appointments_top_part {
    margin-bottom: 20px;
  }
  .course_banner_wrapper .details .Description_n_price {
    flex-direction: column;
  }
  .course_banner_wrapper .details .Description_n_price .description {
    width: 100%;
    border-right: none;
  }
  .course_banner_wrapper .details .Description_n_price .price {
    width: 100%;
    padding: 25px 10px 30px 0;
  }
  .course_banner_wrapper .image {
    width: 50%;
  }
  .availability_section .profile_details .bottom_part .week_days {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .scroll_navigator_link_container a {
    font-size: 16px;
    padding: 15px 20px;
  }
}

@media only screen and (max-width: 624px) {
  .coaches_category > div {
    margin-top: 10px;
  }
  section.dashboard_body .appointments_part .top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  section.dashboard_body .appointments_part .top .left {
    margin-bottom: 25px;
  }
  .wantToBecomeAcoach_index_sections .question_card h5 {
    font-size: 17px;
    line-height: 24px;
  }
  .wantToBecomeAcoach_index_sections .question_card {
    padding: 20px 0 20px 33px;
  }
}

@media only screen and (max-width: 620px) {
  .footer_wrapper .footer_links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer_wrapper .footer_social_icons {
    margin: 30px 0 0;
  }
  .footer_wrapper .top_nav_links {
    flex-direction: column;
  }
  .footer_wrapper .top_nav_links > div {
    margin: 15px 0;
    padding: 0;
  }
  .footer_wrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer_social_icons i {
    margin: 0 15px 0 0;
  }
  .course_search_n_category .course_category .select_wrapper {
    width: 70%;
    margin-left: auto;
  }
  .subscribe_section_wrapper_div .subscribe_header h4 {
    font-size: 28px;
  }
  .subscribe_section_wrapper_div .subscribe_header p br {
    display: none;
  }
  .want_to_be_a_coach_wrapper .want_to_be_a_coach_div {
    width: 51%;
  }
  .student_dashboard_courses_top .top .right {
    width: 100%;
  }
  .course_list_wrapper .each_course .seats_left .stud_images img:nth-child(5) {
    /* display: ; */
  }
  section.dashboard_body .top_nav .left_side h4 {
    font-size: 18px;
  }
  .added_services_wrapper {
    grid-template-columns: 100%;
    grid-gap: 25px 0%;
  }
  .admin_overview_cards .cards_wrapper {
    grid-template-columns: 49% 49%;
    grid-gap: 12px 2%;
  }
  .table_div table th,
  .history_n_stream .recent_payment .table_div table th {
    font-size: 14px;
  }
  .table_div table th,
  .history_n_stream .recent_payment .table_div table th {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .header_desc_right img {
    width: 412px;
    height: 249px;
  }
  .how_it_works_right_side {
    flex-direction: column;
  }
  .third_section_wrapper_div .how_it_works_right_side {
    background-image: none;
  }
  .third_section_wrapper_div .how_it_works_right_side > .steps_right_side {
    margin-right: 0;
  }
  .stud_signup_form_wrapper {
    width: 90%;
  }
  .student_below_form {
    width: 80%;
  }
  .other_infos {
    grid-template-columns: auto;
    grid-column-gap: 0;
  }
  .admin_services_wrapper {
    padding: 25px 20px;
    grid-template-columns: 100%;
    grid-gap: 15px 0%;
  }
  .student_gallery {
    grid-template-columns: calc((100% - 20px) / 2) calc((100% - 20px) / 2);
  }
  .about_us_head h4 br {
    display: none;
  }
  .members_card {
    width: 70%;
  }
  .header_right_col img {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (max-width: 585px) {
  .coaches_page .header_desc_left {
    width: 80%;
  }
  .coach_details_container {
    width: 100%;
  }
  .coach_details_container .coach_image {
    height: 500px;
  }
  .coach_details_container .coach_details_div .coach_details_div_top .text h4 {
    font-size: 28px;
    line-height: 30px;
  }
  .transaction_card_wrapper .card_wrapper {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 572px) {
  .coach_landing_page_header .text p br {
    display: none;
  }
  .coach_landing_page_header .text h4 br {
    display: none;
  }
  .account_details_wrapper .account_details > div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 560px) {
  .stevia_benefits > div {
    width: 100%;
    margin: 0 0 25px;
  }
  .coaches_wrapper_div .each_coach {
    width: 100%;
  }
  .coaches_wrapper_div .each_coach .coach_features {
    width: 63%;
    padding: 15px 15px;
  }
  .coaches_wrapper_div .each_coach .coach_features_middle {
    margin: 15px 0;
  }
  .coach_features_bottom button {
    padding-left: 15px;
    padding-right: 15px;
  }
  .fourth_section_wrapper_div .site_center1 {
    width: 90%;
  }
  .fifth_section_wrapper_div .site_center1 {
    width: 90%;
  }
  .sixth_section_wrapper_div h5 {
    font-size: 28px;
  }
  .header_desc_left h4 br {
    display: none;
  }
  .header_desc_left p br {
    display: none;
  }
  .courses_section_header_txt h4 {
    font-size: 27px;
  }
  .jobs_page_header {
    padding: 100px 100px;
  }
  .contact_section_wrapper_div .site_center1 {
    width: 87%;
  }
  .recommendation_header h3 {
    font-size: 26px;
    line-height: 32px;
  }
  .recruiters_success {
    padding: 30px;
  }
  .form_section_wrapper .form_div {
    width: 90%;
  }
  .need_help {
    width: 80%;
  }
  .benefits_in_details_image img {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .coaches_index_sections .header h5 {
    font-size: 27px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 554px) {
  section.dashboard_body .overview_cards .cards_wrapper {
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }
  section.dashboard_body .top_nav .left_side h4 {
    font-size: 23px;
  }
  .dashboard_sidenav_toggler {
    margin-right: 10px;
    width: 29px;
  }
  section.dashboard_body .top_nav .right_side .username {
    padding-left: 10px;
  }
  section.dashboard_body .top_nav .right_side .bell {
    padding: 25px 10px;
  }
  .dashboard_center {
    width: 92%;
  }
  .pending_appointment_container,
  .personal_appointment_container {
    padding: 30px 20px;
  }
  .coach_overview_cards .cards_wrapper {
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
  .coach_dashboard_courses_top .top .right .search_input {
    width: 55%;
  }
  .coach_dashboard_courses_top .top .right .cost_select {
    width: 20%;
  }
  .create_course_form_section .about_the_course .cols-2 {
    grid-template-columns: 100%;
    grid-column-gap: 0;
    /* 
          margin-top: -8px;
          margin-bottom: -8px; */
  }
  .create_course_form_section .about_the_course .date_n_time .right {
    flex-direction: column;
  }
  .create_course_form_section .about_the_course .date_n_time .right .time {
    width: 100%;
  }
  .create_course_form_section .about_the_course .date_n_time .right .to {
    width: 100%;
  }
  .create_course_form_section
.service_section
.servive_type
.servive_type_options
> div {
    margin: 0 10px 10px 0;
    padding: 5px 10px;
  }
  .admin_overview_cards .cards_wrapper {
    grid-template-columns: 100%;
    grid-gap: 25px 0%;
  }
  .third_section_wrapper_div .how_it_works_left_side {
    width: 100%;
  }
  .admin_dashboard_coaches_top .top {
    flex-direction: column-reverse;
    /* justify-content: flex-start; */
  }
  .admin_dashboard_coaches_top .search_input {
    width: 100%;
  }
  .admin_dashboard_coaches_top .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .table_div table th,
  .history_n_stream .recent_payment .table_div table th {
    font-size: 14px;
  }
  .transaction_table_div_wrapper .table_div table {
    width: 150%;
  }
  .table_div table {
    width: 150%;
  }
  .jobs_wrapper_section .jobs_wrapper {
    padding: 30px 15px;
  }
  .course_banner_wrapper
.details
.Description_n_price
.description
.image_n_seat
> div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .course_banner_wrapper
.details
.Description_n_price
.description
.image_n_seat
> div
.stud_images {
    margin-bottom: 25px;
  }
  .settings_navigator .settings_navigator_link {
    padding: 10px 20px;
  }
  .settings_navigator .settings_navigator_link span {
    font-size: 14px;
  }
  .availability_section .profile_details .bottom_part .top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .availability_section .profile_details .bottom_part .top .right {
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }
  .appointment_setting_wrapper .appointment_setting .settings_container {
    padding: 30px 20px 30px;
  }
  .appointment_setting_wrapper .appointment_setting .settings_progress {
    width: 160%;
  }
  section.dashboard_body .top_nav .right_side .username span {
    padding: 10px;
    font-size: 10.5px;
    margin-right: 6px;
  }
}

@media only screen and (max-width: 530px) {
  .course_desc_header_text h3,
  .course_lessons_container .header h4,
  .review_section_wrapper_div h4 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 520px) {
  .job_opnenings_wrapper > div {
    width: 320px;
    margin-right: 10px;
  }
  .fifth_section_wrapper_div .site_center1 {
    width: 90%;
  }
  .course_search_n_category .course_category .select_wrapper {
    width: 50%;
    margin-left: auto;
  }
  .courses_section_wrapper_div .site_center1 {
    width: 90%;
  }
  .pagination_div div {
    padding: 10px 12px;
  }
  .contact_page_header {
    padding-left: 13px;
    padding-right: 13px;
  }
  .contact_page_header p br {
    display: none;
  }
  .jobDescription_section_wrapper_div .header_content_wrapper .job_title h4 {
    font-size: 22px;
    line-height: 30px;
  }
  .benefits_wrapper .header h3 {
    font-size: 27px;
    line-height: 32px;
  }
  .want_to_be_a_coach_wrapper .want_to_be_a_coach_div {
    width: 80%;
  }
  .benefits_wrapper .header h3 {
    font-size: 26px;
    line-height: 32px;
  }
  .post_a_job_login .form_wrapper {
    width: 90%;
  }
  .below_form {
    width: 70%;
  }
  .post_a_job_login .form_wrapper .login_text p {
    font-size: 16px;
    line-height: 20px;
  }
  .post_a_job_login .form_wrapper .login_text h3 {
    font-size: 29px;
    line-height: 32px;
  }
  .post_a_job_signup .form_wrapper {
    width: 90%;
    padding: 30px 30px;
  }
  .post_a_job_signup .below_form {
    width: 80%;
  }
  .post_a_job_signup .form_wrapper .login_text h3 {
    font-size: 26px;
    line-height: 32px;
  }
  .post-a-job-nav {
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
  }
  .post-a-job-nav > div:nth-child(1) {
    margin-bottom: 30px;
  }
  .grid_item_two {
    grid-template-columns: 100%;
    grid-column-gap: 0;
    margin-top: 0;
  }
  .grid_item_two > div:nth-child(2) {
    margin-top: 15px;
  }
  .form_section_wrapper .application_mode .app_mode_grid {
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }
  .form_section_wrapper .application_mode .app_mode_grid > div:nth-child(1) {
    margin-bottom: 20px;
  }
  .pl-40 {
    padding-left: 0;
  }
  .course_list_wrapper .each_course .seats_left,
  .course_from_coach_section .course_list_wrapper .each_course .seats_left {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .course_list_wrapper .each_course .seats_left .stud_images,
  .course_from_coach_section
.course_list_wrapper
.each_course
.seats_left
.stud_images {
    margin-bottom: 15px;
  }
  .course_list_wrapper .each_course .course_name,
  .ongoing_course_list_wrapper .each_course .course_name,
  .course_from_coach_section .course_list_wrapper .each_course .course_name {
    padding-left: 10px;
  }
  .course_list_wrapper .each_course .course_name h5,
  .ongoing_course_list_wrapper .each_course .course_name h5,
  .course_from_coach_section .course_list_wrapper .each_course .course_name h5 {
    font-size: 15px;
  }
  .course_list_wrapper .each_course .course_image,
  .ongoing_course_list_wrapper .each_course .course_image,
  .course_from_coach_section .course_list_wrapper .each_course .course_image {
    height: 60px;
    width: 60px;
  }
  .course_list_wrapper,
  .course_from_coach_section .course_list_wrapper {
    padding: 15px;
  }
  .course_list_wrapper .each_course,
  .course_from_coach_section .course_list_wrapper .each_course {
    padding: 25px 15px;
  }
  .coaches_list_wrapper {
    padding: 25px 10px;
  }
  .student_dashboard_courses_top .top .right .search_input {
    width: 55%;
  }
  .student_dashboard_courses_top .top .right .coach_select {
    width: 25%;
    margin-left: 8px;
    margin-right: 8px;
  }
  .student_dashboard_courses_top .top .right .cost_select {
    width: 20%;
  }
  .student_dashboard_courses_top .top .left span,
  section.dashboard_body .appointments_part .top .right span,
  .appointments_sortType_n_category .left span {
    padding: 9px 22px;
    font-size: 13px;
    line-height: 12px;
    margin: 10px 4px 0 0;
  }
  .ongoing_course_list_wrapper {
    padding: 25px 15px;
  }
  .coach_box_details_container .coach_image {
    width: 60%;
  }
  .coach_box_details_container
.coach_details_div
.coach_summary
.coach_social
.video {
    width: 100%;
    height: auto;
  }
  section.dashboard_body .top_nav .left_side h4 {
    font-size: 15px;
  }
  .dashboard_review_section .review_header {
    padding-right: 20px;
    padding-left: 20px;
  }
  .added_services_wrapper {
    padding: 15px;
  }
  .add-service-modal .head h4 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .add-service-modal .head p {
    font-size: 14px;
    line-height: 26px;
  }
  .settlement_card_wrapper .card_wrapper {
    grid-template-columns: 100%;
  }
  .settlement_card_wrapper .card_wrapper .card {
    padding: 25px;
  }
  .table_div_wrapper .table_div table th,
  .table_div_wrapper .table_div table td {
    text-align: center;
    padding: 20px;
  }
  .transaction_table_div_wrapper .table_div table td {
    font-size: 13px;
  }
  .transaction_table_div_wrapper .table_div table th {
    font-size: 14px;
  }
  .transaction_table_div_wrapper .table_div table {
    width: 250%;
  }
  .table_div table {
    width: 250%;
  }
  .job_top h5 {
    font-size: 18px;
    line-height: 25px;
  }
  .coach_details_navigator .settings_navigator_link {
    padding: 10px 20px;
  }
  .settings_navigator .settings_navigator_link {
    padding: 10px;
  }
  .settings_navigator .settings_navigator_link span {
    font-size: 12px;
  }
  .notification_section .notification_option .notification_label p {
    margin-bottom: 9px;
  }
  .other_information_section .cols-2 {
    grid-template-columns: 100%;
  }
  .appointment_setting_wrapper
.appointment_setting
.settings_container
.status
h5 {
    font-size: 27px;
    line-height: 30px;
  }
  .appointment_setting_wrapper
.appointment_setting
.settings_container
.status
p {
    font-size: 15px;
    line-height: 27px;
  }
  .availability_section .profile_details .top_part .time_zone {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 35px;
  }
  .availability_section .profile_details .top_part .time_zone .right {
    width: 100%;
  }
  .about_us_head h4 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 500px) {
  s .header_desc_right img {
    width: 280px;
    height: 190px;
  }
  .header_desc_right {
    background-size: 100% 70px;
  }
  .courses_navigator .courses_navigator_link {
    margin: 0 0px;
    padding: 12px 13px;
  }
  .jobs_page_header {
    padding: 60px 30px;
  }
  .search_course_input_wrapper {
    width: 90%;
  }
  .subscribe_input_wrapper {
    width: 95%;
  }
  .subscribe_input_wrapper .subscribe_button button {
    padding-left: 15px;
    padding-right: 15px;
  }
  .coach_details_container .coach_image {
    height: 400px;
  }
  .review_lists .each_review {
    width: 300px;
  }
  section.dashboard_body .appointments_part .top .right span:nth-child(2),
  .student_dashboard_courses_top .top .left span:nth-child(2),
  .appointments_sortType_n_category .left span:nth-child(2) {
    margin: 20px 4px 0 0;
  }
  section.dashboard_body .appointments_part .top .right span,
  .student_dashboard_courses_top .top .left span,
  .appointments_sortType_n_category .left span {
    margin: 20px 4px 0 0;
  }
  .scroll_navigator_link_container a {
    font-size: 16px;
    padding: 15px;
  }
  .course_duration_and_price .each_div {
    grid-template-columns: 100%;
    grid-row-gap: 40px;
  }
  .course_duration_and_price {
    transform: translateY(-5%);
  }
  .each_div div:nth-child(odd),
  .each_div div:nth-child(even) {
    border-right: none;
  }
  .course_video_container {
    height: 300px;
  }
  .header_right_col img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .benefits_index_sections .header p {
    font-size: 15px;
    line-height: 22px;
    margin-top: 20px;
  }
  .interests_index_sections .header p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .interests_index_sections .header h5 {
    font-size: 27px;
    line-height: 32px;
  }
  .howToConnect_index_sections .header h5 {
    font-size: 26px;
    line-height: 31px;
  }
  .how_to_connect_options .how_to_connect_option_card .link {
    margin-top: 20px;
  }
  .how_to_connect_options_wrapper {
    margin-top: 50px;
  }
  .coaches_wrapper_div2 .each_coach {
    width: 355px;
    margin-right: 10px;
  }
  .coaches_wrapper_div2 .each_coach .coach_features_middle {
    margin: 17px 0;
  }
  .jobs_index_sections .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .slider_toggler2 {
    margin-top: 30px;
  }
  .slider_toggler2 .slider_toggler_container {
    margin-left: 0;
  }
  #jobsMoveRight {
    margin-left: 30px;
  }
  .wantToBecomeAcoach_index_sections .wrapper {
    background-size: 125px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 451px) {
  .course_image {
    height: 120px;
  }
  .members_card {
    width: 80%;
  }
  .howToConnect_index_sections .header h5 {
    font-size: 23px;
    line-height: 27px;
  }
  .interests_index_sections .header h5 {
    font-size: 23px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 430px) {
  .interest_options_wrapper .interest_options span {
    font-size: 15px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 407px) {
  .benefit_breakdown_icon {
    margin-right: 15px;
    width: 45px;
    height: 45px;
  }
  .benefit_breakdown_text h5 {
    font-size: 16px;
    line-height: 24px;
  }
  .benefit_breakdown_text p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
  }
  .job_opnenings_wrapper > div .desc_texts {
    margin: 20px 0;
  }
}

@media only screen and (max-width: 400px) {
  .scroll_navigator_link_container a {
    font-size: 14px;
    padding: 11px;
  }
  .course_video_container {
    height: 250px;
  }
  .recommendation_header h3 {
    font-size: 25px;
  }
  .student_work_header h4 {
    font-size: 25px;
    line-height: 30px;
  }
  .student_work_header p {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .student_gallery {
    grid-template-columns: 100%;
    grid-gap: 20px 0;
  }
  .student_gallery > div {
    height: 200px;
  }
  .error_wrapper img {
    width: 232px;
    height: 232px;
  }
  .error_wrapper h4 {
    font-size: 28px;
  }
  .members_card {
    width: 100%;
  }
  .header_right_col img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .header_left_col .welcome_note_head h5 {
    font-size: 22px;
    line-height: 24px;
  }
  .header_left_col .welcome_note_paragraph p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
  }
  .benefits_index_sections .header h5 {
    font-size: 24px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 320px) {
  .scroll_navigator_link_container a {
    font-size: 12px;
    padding: 10px;
    font-weight: 700;
  }
}

@media only screen and (max-width: 320px) {
  .benefits_index_sections .header h5 {
    font-size: 22px;
    line-height: 24px;
  }
}

/* End Widths */
/* Height */
@media only screen and (max-height: 650px) {
  .add-service-modal > div {
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .add-service-modal::-webkit-scrollbar {
    display: none;
  }
}

/* End of Height */
/*# sourceMappingURL=res.css.map */